/* COLORS */

// background colors for gradients
@bg-1: #1d212d;
@bg-2: #171f2a;
@bg-3: #032933;
@bg-4: #032f3a;
@grad-1: linear-gradient(@bg-1, @bg-3);
@grad-2: linear-gradient(@bg-2, @bg-4);
@selection: hsla(177, 100%, 44%, 0.54);
@link: hsl(169, 84%, 61%);
@glow: hsla(0, 0%, 100%, 0.1);
@primary: hsl(0, 0%, 100%);
@secondary: hsl(180, 92%, 31%); 

/* FONTS */

@font-face {
  font-family: Anonymous Pro;
  src: url("/assets/media/font/AnonymousPro-Regular.ttf");
}
@font-face {
  font-family: Rubik;
  src: url("/assets/media/font/Rubik-Regular.ttf");
}
@title-md: bold 14pt Rubik, sans-serif;
@body-xs: italic 9pt Rubik, sans-serif;
@body-sm: bold 10pt Rubik, sans-serif;
@body-md: 11pt Rubik, sans-serif;
@body-lg: 18pt Rubik, sans-serif;
@body-xl: 24pt Rubik, sans-serif;
@code-md: 12pt Anonymous Pro, monospace; 

/* SPACING */

@sp-xxs: 3px;
@sp-xs: 6px;
@sp-sm: 12px;
@sp-md: 18px;
@sp-lg: 24px;
@sp-xl: 36px; 

/* PIXEL SIZES */

@px-nav-width: 240px;
@px-con-width: 680px;
@px-penrose: 200px;
@px-penrose-mini: 72px;
@px-penrose-margin-x: (@px-nav-width - @px-penrose)/2; 

/* MEDIA QUERIES */

@xs: ~"only screen and (max-width: 499.98px)";
@sm: ~"only screen and (max-width: 859.98px)"; 

/* TIMING */

@time-xs: 0.1s;
@time-sm: 0.4s;
@time-md: 0.7s;

/* STYLING DEFAULTS */

h1 { font: @title-md; }
h2 { font: @body-xl; }
h3 { font: @body-lg; }
h4 { font: @body-md; font-weight: bold; }
h5 { font: @body-sm; }
h6 { font: @body-xs; }

body {
  font: @body-md;
  color: @primary;
  background: @grad-1;
  background-attachment: fixed;
}

a {
  color: @link;

  &:visited { color: @link; }
  &:hover { color: @primary; }
}

em { font-style: italic; }
strong { font-weight: bold; }

code {
  font: @code-md;
  padding: 2pt 4pt;
  background-color: fade(@selection, 20%);
  border-radius: 3px;
}

pre {
  .border();
  padding: @sp-sm;
  white-space: pre-wrap;
  background-color: fade(@selection, 15%);
  min-height: 10pt;
  max-height: 100pt;
  overflow-y: scroll;
}

pre code {
  background-color: initial;
  padding: 0;
}
/* SCROLLBAR CHANGES */

// chrome scrollbars
::selection {
  background-color: @selection;
  color: @primary;
}

::-webkit-scrollbar {
  background: @grad-1;
  height: @sp-sm;
  width: @sp-sm;

  &-thumb {
    background: @primary;
  }
}

// firefox scrollbars
body {
  scrollbar-color: @primary hsla(0, 0%, 0%, 0.01);
  scrollbar-width: @sp-xxs;
}

/* GENERAL CLASSES */

// div is the size of the page
.cover {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
}

.border {
  box-shadow: 0 0 @sp-sm @glow;
  border: 1px solid @primary;
  border-radius: 1px;
}

.border-x {
  box-shadow: 0 0 @sp-sm @glow;
  border-left: 1px solid @primary;
  border-right: 1px solid @primary;
}

// represents one body of content in the main column
.island {
  box-sizing: border-box;
  margin: @sp-xl 0;

  > :not(:last-child) {
    margin-bottom: @sp-md;
  }

  h1.title {
    display: inline-block;
    background: @primary;
    color: @bg-3;
    padding: @sp-xs @sp-sm;
    margin-bottom: @sp-lg;
    /* change text */
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1pt;

    a {
      margin: -@sp-xs -@sp-sm;
      padding: @sp-xs @sp-sm;
      color: @bg-3;

      &:hover {
        color: @secondary;
      }

      &:active {
        color: lighten(@secondary, 10%);
      }
    }
  }
}

// toolbar styling
.toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
  
  a.tool {
    width: @sp-xl;
    height: @sp-xl;
    margin: 0 @sp-xs @sp-xs 0;
    font: @body-md;
    color: @primary;
    background-color: fade(@bg-3, 50%);
    border: 1px solid @primary;
    border-radius: 2px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    i { display: block; }

    &:hover {
      color: @link;
      background-color: fade(@link, 20%);
      border: 1px solid @link;
    }
  }
}

// toolbar tool animations
.toolbar {
  display: flex;
  flex-flow: row-reverse nowrap;

  a.tool {
    transition-duration: @time-sm;
    transition-timing-function: cubic-bezier(0.34, 0.34, 0.33, 1.49);
    position: relative;
    bottom: -@sp-xl * 2; 
  }

  //.childTransitionDelays(~"a.tool", @time-xs * 4, -@time-xs, 5);
}

.focus .toolbar {
  //.childTransitionDelays(~"a.tool", 0s, @time-xs, 5);
  a.tool { bottom: 0; }
}

// mixin that sets a stepped transition delay for a parent's children
.childTransitionDelays(@elem, @start, @step, @max, @i: 1) when (@i <= @max) {
  @{elem}:nth-child(@{i}) { transition-delay: @start + (@step * (@i - 1)); }
  .childTransitionDelays(@elem, @start, @step, @max, (@i + 1));
}

.frame {
  img {
    width: auto;
    height: 100%;
  }

  @media @xs {
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* SPECIFIC IDS */

#layout {
  /* major page elements are just a flex row */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#navigation {
  box-sizing: border-box;
  background: @grad-2;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

#content {
  flex: 0 1 @px-con-width;
  min-width: 0;
  margin: 0 @sp-xl;
}

#art-gallery {
  display: flex;
  flex-flow: row nowrap;
  margin: -@sp-sm;
  
  .frame {
    position: relative;
    box-sizing: border-box;
    margin: @sp-sm;
    overflow: hidden;
    flex: 1 1 32px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    transition-duration: @time-sm;

    img { height: 500px; }
    
    &.focus { flex: 10 1 64px; }
  }
  
  // art gallery on smaller displays
  @media @xs {
    flex-flow: column nowrap;

    .frame {
      flex: 1 1 120px;

      img { width: 100%; height: auto; }
      
      &.focus { flex: 1 1 500px; }
    }
  }
}

#code-gallery {
  display: grid;
  grid: ~"auto-flow 1fr / 1fr 1fr 1fr 1fr";
  grid-gap: @sp-lg;

  .frame { height: 160px; }
}

#sound-gallery {
  display: grid;
  grid: ~"auto / 1fr";
}

#design-gallery {
  display: grid;
  grid: ~"auto-flow 160px / 1fr 1fr";
  grid-gap: @sp-lg;

  @media @xs { grid: ~"auto-flow 160px / 1fr"; }
}

// ADAPTABILITY

.island h1.title {
  transition-duration: @time-sm;
  position: relative;
  left: -@sp-xl;
  padding-left: @sp-xl;
}

#navigation {
  transition-duration: @time-md;
  position: relative;
  flex: 0 0 @px-nav-width;
  left: 0;
  width: @px-nav-width;
  margin-left: @sp-xl;
}

nav.penrose {
  transition-duration: @time-md;
  position: sticky;
  top: @sp-xl;
  // left doesn't do anything with sticky
  // it's just here for when a media query sets the position to fixed
  left: @sp-xl + @px-penrose-margin-x;
  width: @px-penrose;
  height: @px-penrose;
}
// pull navigation away on smaller devices
@media @sm {
  .island .title {
    left: -@sp-sm;
    padding-left: @sp-sm;
  }

  #navigation {
    flex: 0 0 0;
    left: -(@px-penrose/2);
    width: 0;
    margin-left: 0;
  }

  nav.penrose {
    position: fixed;
    left: @sp-lg;
    width: @px-penrose-mini;
    height: @px-penrose-mini;
  }

  nav.penrose {
    // while penrose v2.0 isn't done, just shove it off screen
    left: -(@px-penrose + @sp-xl);
    width: @px-penrose;
    height: @px-penrose;
  }
}
